
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* 電腦與平板上應用的樣式 */

        body {
            background-color: rgb(255, 255, 255);
            margin: 0px;
            font-size: 14px;
            font-family:'Roboto', sans-serif;
        }

        img {
            vertical-align: bottom;
            /* 去除圖片對齊，以英文字對齊線為主 */
        }

        .header {
            display: flex;
            padding: 20px 0;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #bbb6b6;
            background: #fff;
            z-index: 2;
        }

        .logo {
            width: 100px;
            background-color: rgb(23, 81, 0);
            text-align: center;
            padding: 10px;
            border-radius: 0px 10px 10px 0px;
        }

        .logo>a {
            width: 100%;
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            display: block;
        }

        .logo>a img{
            width: 80px;
            height: 30px;
            border-radius: 20px;
        }

        .navbar>ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: stretch;
        }

        .navbar>ul>li {
            padding: 10px;
            text-align: center;
        }

        .navbar>ul>li>a {
            display: block;
            text-decoration: none;
            font-family:'Roboto', sans-serif;
            font-size: 20px;
            font-weight: bold;
            color: #333;
        }

        .menu-icon {
            display: none;
        }

        .container {
            padding: 50px 0;
            width: 80%;
            max-width: 1200px;
            margin: auto;
        }

        /* Banner Animation */

        #Banner {
            width: 100%;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        .slogan {
            position: absolute;
            z-index: 3;
        }

        .slogan h2 {
            font-size: 3rem;
            text-shadow: none;
            font-family:'Roboto', sans-serif;
        }

        .slogan h5 {
            font-size: 1.5rem;
            font-family:'Roboto', sans-serif;
        }

        .circle1 {
            position: absolute;
            width: 500px;
            height: 500px;
            top: -10%;
            left: 60%;
            border-radius: 50%;
            border: 15px solid rgb(234, 176, 2);
            z-index: -1;
            animation: move 10s ease-in infinite;
        }

        .circle2 {
            position: absolute;
            margin-left: 40%;
            margin-top: 20%;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 10px solid rgb(6, 125, 6);
            animation: move2 10s ease-in infinite;
        }

        .shape {
            position: absolute;
            width: 200px;
            height: 200px;
            top: 300px;
            left: 30px;
            float: left;
            background-color: rgb(231, 237, 46);
            animation: squareToCircle 5s 1s infinite alternate;
            /* animation: spin 10s ease-in infinite; */
        }

        .triangle {
            position: absolute;
            width: 0;
            height: 0;
            top: -25%;
            left: -20%;
            border-left: 257px solid transparent;
            border-right: 257px solid transparent;
            border-bottom: 405px solid rgb(79, 214, 16);
            position: relative;
            transform: rotate(30deg);
            animation: spin 10s ease infinite;
        }

        @keyframes move {
            0% {
                left: 70%;
                top: -10%;
            }
            50% {
                left: 60%;
                top: 0%;
            }
            70% {
                left: 60%;
                top: -5%;
            }
            100% {
                left: 70%;
                top: -10%;
            }
        }

        @keyframes move2 {
            0% {
                margin-top: 20%;
                margin-left: 40%
            }
            50% {
                margin-top: 10%;
                margin-left: 40%
            }
            70% {
                margin-top: 15%;
                margin-left: 40%
            }
            100% {
                margin-top: 20%;
                margin-left: 40%;
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0);
            }
            100% {
                transform: rotate(170deg);
            }
        }

        @keyframes squareToCircle {
            0% {
                border-radius: 0 0 0 0;
                background: rgba(247, 150, 5, 0.947);
                transform: rotate(0deg);
            }
            25% {
                border-radius: 50% 0 0 0;
                background: rgba(233, 228, 122, 0.868);
                transform: rotate(45deg);
            }
            50% {
                border-radius: 50% 50% 0 0;
                background: rgb(242, 255, 0);
                transform: rotate(90deg);
            }
            75% {
                border-radius: 50% 50% 50% 0;
                background: rgb(240, 229, 128);
                transform: rotate(135deg);
            }
            100% {
                border-radius: 50% 50% 50% 50%;
                background: rgb(235, 151, 7);
                transform: rotate(180deg);
            }
        }

        /* About 區塊樣式*/

        #About{
            padding-top: 80px;
        }

        #About .container-a {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            z-index: 2;
        }

        .main-pic {
            width: 40%;
            height: auto;
        }

        .main-pic img {
            max-width: 100%;
            box-shadow: -15px 15px 0px rgb(2, 88, 9);
        }

        .description {
            width: 50%;
            padding: 30px;
            font-family:'Roboto', sans-serif;
        }

        h2 {
            padding: 20px 0;
            font-size: 2rem;
            text-shadow: 3px 3px 3px #d1cdcd;
            letter-spacing: 1.5px;
            line-height: 1.5;
        }

        .description h3 {
            padding: 20px 0;
            font-size: 1.5rem;
        }

        .description p {
            line-height: 24px;
            font-size: 1rem;
        }

        .tablinks {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            justify-content: left;
        }

        .tablinks li {
            margin-right: 20px;
            font-size: 1rem;
        }

        .tablinks li a {
            display: block;
            padding: 10px;
            background-color: #f1f1f1;
            border-radius: 5px;
            text-decoration: none;
            color: #333;
        }

        .tablinks li a:hover {
            background-color: #ddd;
        }

        .tablinks li a.active {
            background-color: #e6a9f3;
        }

        .tabcontent {
            display: none;
        }

        .education {
            margin-top: 50px;
            font-family:'Roboto', sans-serif;
        }

        .education h4 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .education-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .education-list li {
            margin-bottom: 20px;
            padding: 10px;
            background-color: #f7f7f7;
            border-radius: 5px;
        }

        .education-meta {
            font-size: 16px;
            color: #666;
            margin-bottom: 10px;
        }

        .education p {
            font-size: 16px;
            color: #666;
            margin-bottom: 0;
        }

        .profile,
        .education,
        .skills {
            margin-top: 20px;
            font-family:'Roboto', sans-serif;
            letter-spacing: 1.5px;
            font-weight: bold;
        }


    /* 先設定list、li與skill name樣式 */

        .skills-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .skills-list li {
            height: 50px;
            display: flex;
            justify-content: center;
            align-content: baseline;
        }

        .skill-name {
            font-weight: bold;
            display: inline-block;
            width: 100px;
            margin-right: 30px;
            font-size: 20px;
        }


        /* 設定bar的外層樣式 */

        .skill-bar {
            background-color: #ddd;
            height: 20px;
            border-radius: 20px;
            display: inline-block;
            width: 250px;
            position: relative;
            margin-bottom: 10px;
            box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
        }


        /* 設定bar的內層樣式 */

        .skill-level {
            background-color: #4CAF50;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            text-align: center;
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
        }


    /* 設定各項目的顏色與動畫 */

        .skill-html {
            animation: progress-html 2s ease-in-out;
            background: linear-gradient(to right, rgb(3, 59, 3), #009107);
            width: 95%;
        }

        .skill-css {
            animation: progress-css 2s ease-in-out;
            background: linear-gradient(to right, #018908, #04d40f);
            width: 90%;
        }

        .skill-js {
            animation: progress-js 2s ease-in-out;
            background: linear-gradient(to right, rgb(4, 121, 4), #abc805);
            width: 80%;
        }

        .skill-php {
            animation: progress-php 2s ease-in-out;
            background: linear-gradient(to right, #089e29, #e6f704);
            width: 75%;
        }

        .skill-mysql {
            animation: progress-mysql 2s ease-in-out;
            background: linear-gradient(to right, rgb(161, 183, 14), #fbea00);
            width: 70%;
        }


    /* skill Animation */

        @keyframes progress-html {
            from {
                width: 0%;
            }
            to {
                width: 90%;
            }
        }

        @keyframes progress-css {
            from {
                width: 0%;
            }
            to {
                width: 80%;
            }
        }

        @keyframes progress-js {
            from {
                width: 0%;
            }
            to {
                width: 70%;
            }
        }

        @keyframes progress-php {
            from {
                width: 0%;
            }
            to {
                width: 60%;
            }
        }

        @keyframes progress-mysql {
            from {
                width: 0%;
            }
            to {
                width: 65%;
            }
        }

        /* Work Experience */

        #Work-experience{
            margin-top: 50px; 
            background-color: whitesmoke;
        }

        #Work-experience h2{
            font-size: 40px;
            font-family:'Roboto', sans-serif;
            width: 400px;
            margin-bottom: 0px;
            text-shadow: 2px 2px 2px rgb(192, 189, 189);
            text-align: center;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .work-experience-list{
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .work-experience-list li{
            display: flex;
            margin: 30px 0;
            padding: 0 0 20px 0;
            align-items: cneter;
            align-content: baseline;
            border-bottom: 1px solid rgb(211, 211, 211);
        }

        .work-period{
            width: 250px;
            font-weight: bold;
            font-size: 20px;
            font-family:'Roboto', sans-serif;
            margin-right: 30px;
            padding-left: 40px;
        }

        .company-logo{
            width: 75px;
            height: 75px;
            margin-right: 30px;
            background-color: white;
            border-radius: 100%;
        }

        .company-logo img{
            max-width: 100%;
            border-radius: 100%;
        }

        .image1{
            padding-top: 15px;
        }

        .job-title{
            font-weight: bold;
            font-size: 20px;
            font-family:'Roboto', sans-serif;
            margin: 0;
            padding-left: 20px;
        }

        /* Portfolio */

        #Portfolio{
            text-align: center;
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: rgb(241, 241, 241);
        }

        #Portfolio h2{
            font-size: 3rem;
            font-family:'Roboto', sans-serif;
            /* color: rgb(4, 92, 4); */
            width: 100%;
            margin-bottom: 0px;
            text-shadow: 2px 2px 2px rgb(192, 189, 189);
            padding-top: 80px;
        }

        .container-p{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(3, 200px);
            width: 80%;
            max-width: 1200px;
            margin: 100px auto;
            gap: 10px;
        }

        .card{
            position: relative;
            overflow: hidden;
            transform-style: preserve-3d;
            transition: transform 1s;  
        }

        .side-front{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            transition: transform 1s;
        }

        .side-front img{
            width: 100%;
        }

        .pic1{
            grid-area: 1 / 4 / 2 / 6;
        }

        .pic2{
            grid-area: 2 / 1 / 4 / 3;
        }

        .pic3{
            grid-area: 3 / 3 / 4 / 5;
        }

        .card:nth-child(1) img{
            height: 200px;
            object-fit: cover;
        }

        .card:nth-child(2) img{
            height: 200px;
            object-fit: cover;
        }

        .card:nth-child(4) img{
            height: 200px;
            object-fit: cover;
        }

        .card:nth-child(5) img{
            height: 410px;
            object-fit: cover;
        }

        .card:nth-child(8) img{
            height: 200px;
            object-fit: cover;
        }

        .card:nth-child(10) img{
            height: 200px;
            object-fit: cover;
        } 

        .back{
            display: flex;
            background-color:rgb(2, 83, 2);
            color: whitesmoke;
            font-family: 'Roboto', sans-serif;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: bold;
            transform: rotateY(180deg);
            transition:transform 1s;
        }

        .card:hover .side-front{
            transform: rotateY(180deg);
        }

        .card:hover .back{
            transform: rotateY(0deg);
        }

        /* Contact */

        #Contact {
        padding: 100px 0;
        background-image: linear-gradient(to right top, #173c01, #3f6105, #6e8703, #a7ad00, #e7d200);
        }

        #Contact p {
        font-size: 18px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        line-height: 1.5;
        letter-spacing: 1px;
        }

        .container {
        max-width: 80%;
        margin: 0 auto;
        }

        .contact-c{
        font-family: 'Roboto', sans-serif;
        height: 80px;
        font-size: 32px;
        text-shadow: 2px 2px 2px rgb(170, 168, 168);
        letter-spacing: 1px;
        }

        .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        }

        .col-6 {
        flex-basis: calc(50% - 15px);
        }

        .info {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        line-height: 1.5;
        margin-top: 40px;
        color: #fff;
        letter-spacing: 1px;
        }

        .info li {
        margin-bottom: 10px;
        font-size: 16px;
        display: flex;
        align-items: center;
        }

        li i {
        margin-right: 10px;
        font-size: 20px;
        }

        .contact-i{
        width: 30px;    
        height: 30px;
        padding-right: 10px;
        }

        form {
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        }

        label {
        display: block;
        margin-bottom: 5px;
        }

        form input[type="text"],
        form input[type="email"],
        form input[type="tel"],
        form textarea {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 8px;
        background-color: #f5f5f5;
        color: #333;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 20px;
        transition: all 0.3s ease-in-out;
        }

        form input[type="text"]:focus,
        form input[type="email"]:focus,
        form input[type="tel"]:focus,
        form textarea:focus {
            outline: none;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        }

        form button[type="submit"] {
        background: linear-gradient(to right top, #e03008, #ee6600, #f59200, #f7bb00, #f3e400);
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 12px 24px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        transition: all 2s ease-in-out;
        background-size: 200% auto;
        }

        @keyframes animate-gradient {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
        }

        form button[type="submit"]:hover {
        background-size: 100% auto;
        background: linear-gradient(to right top, #063249, #0b5774, #077fa0, #00aaca, #00d7f3);
        transition: all 2s ease-in-out;
        animation: animate-gradient 3s ease-in-out infinite;
        }

        /* footer */

        footer{
            background-color: #3C3C3C;
            padding: 15px;
        }

        footer p{
            width: 80%;
            margin: auto;
            color: azure;
            font-family: 'Roboto', sans-serif;
            text-align: center;
            letter-spacing: 1.5px;
        }
 
        /* 手機上應用的樣式 */
        @media screen and (max-width: 767px) {
            .circle1 {
                position: absolute;
                width: 500px;
                height: 500px;
                top: -10%;
                left: 60%;
                border-radius: 50%;
                border: 15px solid rgb(234, 176, 2);
                z-index: -1;
                animation: move 10s ease-in infinite;
            }
            
            .circle2 {
                position: absolute;
                margin-left: 40%;
                margin-top: 20%;
                width: 150px;
                height: 150px;
            }
            
            .shape {
                width: 100px;
                height: 100px;
        
            }
            .slogan{
                margin: auto 20px;
            }
            .slogan h2{
                font-size: 2rem;
            }
            .triangle {
                display: none;
            }
            
            .header {
                flex-wrap: wrap;
                align-items: stretch;
            }
            .menu-icon {
                display: block;
                background: #d68c03;
                padding: 5px;
                display: flex;
                color: #fff;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                justify-content: center;
                align-items: center;
                border-radius: 10px 0px 0px 10px;
                width: 60px;
            }

            .navbar {
                width: 100%;
            }
            .navbar>ul {
                flex-direction: column;
            }
            .navbar>ul>li {
                display: block;
                padding: 10px;
                text-align: center;
                border-bottom: 1px solid #b9b9b9;
                flex: 1 1 0%;
            }
            #About .container-a {
                flex-wrap: wrap;
                justify-content: space-around;
            }
            .description{
                padding: 30px 0px;
            }
            .main-pic  {
                width: 80%;
                height: auto;
            }
            .description {
                width: 80%;
                margin: auto;
            }

            .description h2 {
                font-size: 1.5rem;
                line-height: 1.2;
            }

            .description p {
                font-size: 0.9rem;
                line-height: 20px;
            }

            .education-list {
                width: 310px;
            }

            .education h4 {
                font-size: 16px;
                width: 300px;
            }

            .education-meta {
                /* font-size: 12px; */
                width: 300px;
            }

            #Work-experience h2 {
                font-size: 32px;
                padding-right: 10px;
                margin-bottom: -28px;
            }

            .work-experience-list li{
                flex-wrap: wrap;
            }
            .work-period {
                width: 100%;
                margin-bottom: 10px;
                padding-left: 60px;
            }

            .company-logo {
                width: 60px;
                height: 60px;
                margin-left: 45px;
            }

            .job-title {
                margin-top: 20px;
                padding-left: 10px;
            }

            #Portfolio .container-p {
                display: flex;
                flex-wrap: wrap;
                align-content: stretch;
                justify-content: space-between;
            }
            .skill-name{
                width: 120px;
                margin-right: 5px;
                font-size: 16px;
            }
            .card {
                width: 47%;
                height: 200px;
                max-height: 100%;
            }

            .card:nth-child(6) {
                height: auto;
            }

            .side-front {
                display: flex;
                flex-wrap: wrap;
            }

            .side-front img {
                flex-grow: 1;
                max-width: 100%;
                height: auto;
            }

            .col-6 {
                margin-bottom: 20px;
            }

            .contact-c {
                width: 310px;
            }

            form {
                width: 300px;
                height: 650px;
            }
        } 

